{:kotoba.app/id "cloud.itonami.isic-2391", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibnqarhdzwhusiyxn22jvu6kw5znrtghpkva66btfo2qlyzslga7m", :kotoba.app/embed-url "ipfs://bafkreibnqarhdzwhusiyxn22jvu6kw5znrtghpkva66btfo2qlyzslga7m", :published {:archive "https://kotobase.net/ipfs/bafkreibnqarhdzwhusiyxn22jvu6kw5znrtghpkva66btfo2qlyzslga7m", :size 73660, :put-status 201, :get-status 200, :at "2026-08-15T13:34:30.992Z"}}
